body {
  font-family: "arial";
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.profile-image {
  border: solid 5px black;
  border-radius: 50%;
  border-style: ridge;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 35px;
}

.main-nav {
  width: 100%;
  background: none;
  min-height: 30px;
  padding: 10px;
}
.nav {
  display: block;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  padding: 5px 2px;
  margin-right: 50px;
  text-align: justify;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #2FE7EB;
}

.education {
  font-size: 18px;
}

.treehouse-school-link a:hover {
  color: green;
}

.osu-school-link a:hover {
  color: #FF7300;
}

.mchs-school-link a:hover {
  color: green;
}

.dmu-school-link a:hover {
  color: purple;
}

.back-top {
  text-align: center;
}

.copyright {
  text-align: center;
}
