body {
  font-family: "arial";
}

.profile-image {
  border: solid 5px black;
  border-radius: 50%;
  border-style: ridge;
  width: 150px;
  height: 150px;
  margin-top: 35px;
  margin-left: 35px;
}

.body {
  margin-left: 35px;
}
